# ======================
# Node / TypeScript
# ======================
node_modules/
dist/

# ======================
# Environment variables
# ======================
.env
.env.local
.env.production

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Tests / Coverage
# ======================
coverage/

# ======================
# Docker
# ======================
*.log
.vercel
